header{
    background-color: #0E9594;
    display: flex;
    border-radius: 7.5px;
}

#logotipo_dente{
    width: 10%;
    margin-left: 1em;
}

#menu{
    display: flex;
    list-style-type: none;
    gap: 5em;
    color: #FFFFFF;
}

#content-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

#title-carrousel{
    color: #0E9594;
}

#carrousel-content{
    border: 0.25rem solid #0E9594;
}

.btn-circle{
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.w-10{
    width: 1.5rem !important;
    height: 1.5rem !important;
}